# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.moved-aside
*.xcuserstate

# Swift Package Manager
Packages/
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# API Keys or secrets
.env


.env
*.xcuserstate
DerivedData/
